<app-appointment-list></app-appointment-list>

    <body>
        <header class="header">
            <nav class="nav">
                <a href="#" class="nav_logo">WellNest</a>
        

        
                    
        
                <button (click)="logout()" type="button" class="button">log out</button>
            </nav>
        </header>
        
        <section class="home">

            <div class="patient-buttons">
            <button class="btn btn-light mx-2" [routerLink]="['/new']">Book New Appointment</button>
            <button class="btn btn-light mx-2" (click)="patientProfile">Profile</button>
            </div>
        
        </section>



        </body>
        
        

