<div class="container text-center my-5">
  <form [formGroup]="appointmentForm">
    <div class="form-group">
      <label for="department">Choose a Department:</label>
      <select id="department" class="form-control" formControlName="department" (change)="fetchDoctors()">
        <option value="family">Family</option>
        <option value="cardiology">Cardiology</option>
        <option value="general">General</option>
        <option value="orthopedic">Orthopedic</option>
      </select>
    </div>

    <div class="form-group">
      <label for="doctor">Choose a Doctor:</label>
      <select id="doctor" class="form-control" formControlName="doctor" (change)="fetchAppointments()">
        <option value="">Select Doctor</option>
        <option *ngFor="let doctor of doctors" [value]="doctor.id">{{ doctor.name }}</option>
      </select>
    </div>
  </form>

  <div *ngIf="availableAppointments.length > 0" class="appointment-container mt-3">
    <h3>Available Appointments</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Time</th>
          <th>Date</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let appointment of availableAppointments">
          <td>{{ appointment.time }}</td>
          <td>{{ appointment.date }}</td>
          <td>
            <button class="btn btn-primary" (click)="bookAppointment(appointment.appointmentID)">Book</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
