:host {
  display: block;
  width: 100%;
}

.patient-profile-container {
  display: flex;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 12px;
  overflow: hidden;
  width: 70%;
  height: 380px;  /* Adjust if necessary */
  margin: 0 auto; 
  flex-direction: column; 
}

.custom-table {
  overflow-y: auto;  /* Enables scrolling */
  max-height: 270px;  /* Adjust based on the available space */
}

.table {
  width: 100%;
  border-collapse: collapse; /* For better border handling */
}

th, td {
  border: 1px solid #ccc;
  text-align: left;
  padding: 8px;
}

thead th {
  position: sticky;
  top: 0;
  background-color: #f9f9f9;
  z-index: 10;  /* Ensures the header is above other content */
}

.tab-bar {
  display: flex; /* Using flex to evenly space out tabs */
  justify-content: left; /* Center align the tabs */
  }

.tab-bar button {
  flex-grow: 1; /* Each button grows equally */
  padding: 10px 0; /* Padding adjusted for better vertical alignment */
  background-color: #eeeeee; /* Lighter grey background for tabs */
  border: 1px solid #ddd; /* Subtle border for definition */
  border-radius: 5px 5px 0 0; /* Rounded top corners */
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover and focus */
}

.tab-bar button:hover {
  background-color: #ddd; /* Darker shade on hover */
  color: #333; /* Darker text color for better contrast */
}

.tab-bar button.active, .tab-bar button:focus {
  background-color: #fff; /* Active tab matches the container background */
  border-bottom: 1px solid #fff; /* Hide bottom border to merge with content box */
}

.content {
  padding: 20px;
  flex-grow: 1;
  overflow: hidden;
  background-color: #fff;
}

.bi{
  font-size: 1rem;


}
