<div class="patient-profile-container">

    <div class="tab-bar">
          <button (click)="setActiveTab('info')">Information <span class="bi bi-info-square-fill text-primary"></span></button>
          <button (click)="setActiveTab('vitals')">Vitals <span class="bi bi-clipboard2-pulse-fill text-danger"></span></button>
          <button (click)="setActiveTab('diagnosis')">Diagnoses <span class="bi bi-file-earmark-medical-fill text-info"></span></button>
          <button (click)="setActiveTab('medications')">Medications <span class="bi bi-capsule text-success"></span></button>
      </div>

      <div class="content">
        <ng-container *ngIf="activeTab === 'diagnosis'">
            <div class="custom-table">            
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Diagnose</th>
                                <th>Issue Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let diagnose of diagnosis">
                                <td>{{ diagnose.diagnosis }}</td>
                                <td>{{ diagnose.date }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>        
            
            </ng-container>
        <ng-container *ngIf="activeTab === 'info'">
            <div class="custom-table">
                
                <p><strong>Name:</strong> {{ patient.fname | titlecase }} {{ patient.lname | titlecase }}</p>
                <p><strong>DOB:</strong> {{ patient.dob | date }}</p>
                <p><strong>Age:</strong> {{ patient.age }}</p>
                <p><strong>Gender:</strong> {{ patient.gender | titlecase }}</p>
                <p><strong>Blood Type:</strong> {{ latestBloodType }}</p>

          

    
            </div>        
        
        </ng-container>

        <ng-container *ngIf="activeTab === 'vitals'">
            <div class="custom-table">
                
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Blood Pressure</th>
                            <th>Temperature</th>
                            <th>Height</th>
                            <th>Weight</th>
                            <th>BMI</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let vital of vitals">
                            <td>{{ vital.bloodPressure }}</td>
                            <td>{{ vital.temperature | number:'1.0-2'}} °C</td>
                            <td>{{ vital.height | number:'1.0-2'}} m</td>
                            <td>{{ vital.weight | number:'1.0-2'}} kg</td>
                            <td>{{ vital.bmi | number: '1.0-2'}}</td>
                            <td>{{vital.date}}</td>
                        </tr>
                    </tbody>
                </table>
              
    
            </div>        
        
        </ng-container>

        <ng-container *ngIf="activeTab === 'medications'">
            <div class="custom-table">
                
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Prescription</th>
                            <th>Dosage Per Day</th>
                            <th>Issue Date</th>
                            <th>Termination Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let prescription of prescriptions">
                            <td>{{ prescription.prescription }}</td>
                            <td>{{ prescription.dosage }}</td>
                            <td>{{ prescription.date }}</td>
                            <td>{{ prescription.expiryDate }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>        
        
        </ng-container>
      </div>

</div>
