<div class="patient-profile-container">

    <div class="tab-bar">
          <button (click)="setActiveTab('vitals')">Info</button>
          <button (click)="setActiveTab('diagnosis')">Diagnosis</button>
          <button (click)="setActiveTab('medications')">Medications</button>
      </div>

      <div class="content">
        <ng-container *ngIf="activeTab === 'diagnosis'">
            <div class="custom-table">            
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Diagnose</th>
                                <th>Issue Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let diagnose of diagnosis">
                                <td>{{ diagnose.diagnosis }}</td>
                                <td>{{ diagnose.date }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>        
            
            </ng-container>
        <ng-container *ngIf="activeTab === 'vitals'">
            <div class="custom-table">
                
                <p>
                    Blood Type:<br>
                    Height:<br>
                    Weight:<br>
                    BMI:<br>
                    Blood Pressure:
                </p>
            </div>        
        
        </ng-container>

        <ng-container *ngIf="activeTab === 'medications'">
            <div class="custom-table">
                
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Prescription</th>
                            <th>Dosage</th>
                            <th>Issue Date</th>
                            <th>Termination Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let prescription of prescriptions">
                            <td>{{ prescription.prescription }}</td>
                            <td>{{ prescription.dosage }}</td>
                            <td>{{ prescription.date }}</td>
                            <td>{{ prescription.expiryDate }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>        
        
        </ng-container>
      </div>

</div>
