:host {
    display: flex;
    justify-content: center;
    align-items: center;
}

.patient-profile-container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 12px;
    width: 90vw;
    height: 65vh; 
    overflow: auto;
}

.custom-table {
    width: 100%;
    margin: 10px 0;
}

.table {
    width: 100%;
    table-layout: fixed;
    overflow: auto;
}

th, td {
    border: 1px solid #ccc;
    text-align: left;
    padding: 8px;
}

thead th {
    background-color: #f9f9f9;
}

.col-md-6 {
    width: 50%;
    float: left;
    padding: 0 10px;
    border: 1px solid black;
}

.row {
    width: 100%;
    height: 50%;
    clear: both;
}

h3 {
    margin-top: 0;
    background-color: white;
    border: 1px solid black;
}
