<div class="appointment-container">
    <div class="header">
    <h3>Appointments</h3>
    <button class="btn btn-dark mx-2" [routerLink]="['/new']">Book New Appointment</button>
    </div>
    <div class="table-wrapper">  <!-- Wrapper for scrolling -->
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Time</th>
                    <th>Date</th>
                    <th>Department</th>
                    <th>Doctor</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let appointment of appointments">
                    <td>{{appointment.time | convertTime}}</td>
                    <td>{{appointment.date}}</td>
                    <td>{{appointment.department | titlecase}}</td>
                    <td>{{appointment.doctorName | titlecase}}</td>
                    <td>{{appointment.appStatus | titlecase}}</td>
                    <td>
                        <button *ngIf="appointment.appStatus == 'upcoming'" class="btn btn-sm btn-secondary mx-1" (click)="editAppointment(appointment.doctorID, appointment.appointmentID)">Edit</button>
                        <button *ngIf="appointment.appStatus == 'upcoming'" class="bi bi-trash3-fill mx-1" (click)="deleteAppointment(appointment.appointmentID)"></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <ul *ngIf="appointments.length; else noAppointments">
        <!-- Additional content -->
    </ul>
    <ng-template #noAppointments>
        <p>No appointments available.</p>
    </ng-template>
</div>
