<div class="appointment-container">
    <h3>Appointments</h3>
    <div class="table-wrapper">  <!-- Wrapper for scrolling -->
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Time</th>
                    <th>Date</th>
                    <th>Department</th>
                    <th>Doctor</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let appointment of appointments">
                    <td>{{appointment.time | convertTime}}</td>
                    <td>{{appointment.date}}</td>
                    <td>{{appointment.department | titlecase}}</td>
                    <td>{{appointment.doctorName | titlecase}}</td>
                    <td>
                        <button class="btn btn-sm btn-danger mx-1" (click)="deleteAppointment(appointment.appointmentID)">Delete</button>
                        <button class="btn btn-sm btn-secondary mx-1" [routerLink]="['/edit']">Edit</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <ul *ngIf="appointments.length; else noAppointments">
        <!-- Additional content -->
    </ul>
    <ng-template #noAppointments>
        <p>No appointments available.</p>
    </ng-template>
</div>
