<app-home></app-home>

<div class="login-container">

    <button class="close-button" (click)="closeLogin()">x</button>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        
    
        
    
        <div class="text-center mb-3">
            
            <h2>Login</h2>
            <input class="form-control-md-6-my-2" type="text" formControlName="phoneNumber" placeholder="Enter your phone number" (keydown)="onKeyDown($event)">

            <small class="text-danger" *ngIf="loginForm.get('phoneNumber')?.invalid && loginForm.get('phoneNumber')?.touched">Phone number is required.</small>
    
        </div>
    
        <div class="text-center mb-3">
            
            <input class="password-input" type="{{ showPassword ? 'text' : 'password' }}" [(ngModel)]="password" formControlName="password" placeholder="Enter your password">            
            <span class="password-toggle-icon" (click)="togglePasswordVisibility()" [ngClass]="showPassword ? 'eye-slash-icon' : 'eye-icon'"></span>
            <small class="text-danger" *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">Password is required.</small>
    
        </div>
    
        
    <div class=" text-center">
        <button class="btn btn-dark my-2 " type="submit" [disabled]="loginForm.invalid">Submit</button>
    </div>
    </form>
    <div class="mb-3">
        <label>Don't have an account?</label>
        <button class="btn btn-dark mx-4" [routerLink]="['/signup']">Sign Up</button>
    </div>
    </div>