
<div class="text-center my-5">
    <h3>login</h3>
    <hr>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        
    
        
    
        <div class="mb-3">
            <label class="form-label">Email </label>
            <input class="form-control my-2" type="email" formControlName="email">
            <small class="text-danger" *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">Email is required.</small>
    
        </div>
    
        <div class="mb-3">
            <label class="form-label">Password </label>
            <input class="form-control my-2" type="password" formControlName="password">
            <small class="text-danger" *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">Password is required.</small>
    
        </div>
    
        
    
        <button class="btn btn-primary my-2" type="submit" [disabled]="loginForm.invalid">Submit</button>
    
    </form>
    <div class="mb-3">
        <label>don't have an account?</label>
        <button class="btn btn-primary mx-4" [routerLink]="['/signup']">sign up</button>
    </div>
    </div>