
<body>
    <header class="header">
        <nav class="nav">
            <a class="nav_logo"><img src="assets/logo-transparent.png" alt = "Logo" height="100px" class="logo">WellNest</a>
    

    
            <button (click)="logout()" type="button" class="button">Log Out</button>
        </nav>
    </header>
    

    <div class="nurse-container">
        <input #phoneNumberInput type="text" placeholder="Enter Patient Phone Number">
        <button mat-raised-button (click)="openDialog(phoneNumberInput.value)" class="button">Enter</button>
      </div>
      
    <section class="home">

    
    </section>



    </body>
    
    