.dialog-content {
  display: flex;
  max-width: 800px;
  width: 100%;
  flex-direction: column;
  gap: 10px;
}

mat-form-field {
  width: 100%;
}

mat-dialog-actions {
  justify-content: flex-end;
  padding: 10px 0;
}

button {
  margin-left: 10px;
}
