
<div class="appointment-container">
    <h3 class="mt-5 mb-3">Upcoming Appointments</h3>
    
    <div class="table">
        <div class="table-wrapper">  <!-- Wrapper for scrolling -->
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Time</th>
                <th>Date</th>
                <th>Patient</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let appointment of patientAppointments">
                <td>{{appointment.time | convertTime}}</td>
                <td>{{appointment.date}}</td>
                <td>{{appointment.patientName}}</td>

                <td>
                    <button class="btn btn-sm btn-primary mx-1" (click)="openDiagnoseDialog(appointment.appointmentID)">Diagnose</button>
                    <button class="btn btn-sm btn-success mx-1" (click)="openPrescribeDialog(appointment.appointmentID)">Prescribe</button>
                    <button class="btn btn-sm btn-danger mx-1" >End</button>

                </td>
            </tr>
        </tbody>
    </table>
    </div>
    
    <ul *ngIf="patientAppointments.length; else noAppointments">
    
    </ul>
    
    <ng-template #noAppointments>
        <p>No appointments available.</p>
    </ng-template>
    </div>